<!-- home.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Login</h1>
  <form action="/login" method="POST">
    <label for="userId">User ID:</label>
    <input type="text" id="userId" name="userId" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <br>
    <button type="submit">Submit</button>
    <br>
    <br>
  </form>

  <form action="/changePasswordpage" method="GET">
    <button type="submit">Change Password</button>
  </form>

  <% if (typeof result !== 'undefined') { %>
    <h1>Invalid Credentials</h1>
  <% } %>
  <% if (typeof text !== 'undefined') { %>
    <h1>You will be redirected to SpreedSheet shortly.</h1>
  <% } %>
</body>
</html>